body{
    background-color: aqua;
}
.grid{
    display: grid;
    
    grid-template-rows: repeat(2 ,60px);
     /* repeat(4,60px) 
        - 4 son las veces que se repetira el valor que se le asignara 
        - 60px es la altura que se le dara a la fila 
        */

    grid-template-columns: repeat(4,60px) ;
    /*
    grid-template-columns:25px repeat(8,60px) 10px;
    25px modifica el primer  elemento
    repeat(8,60px) modificara 8 elementos en el orden que estan y les asignara un ancho de 60px a cada uno
    10 px modificara el ultimo elemento
    */
    grid-gap: 20px 10px;
    /*
    grid-gap: 20px 10px; modifica los espacios entre filas y columnas
    --20px modifica el espacio entre filas o lineas horizontales 
    --10px modifica el espacio entre columnas  o lineas verticales
    tambien se puede modificar asi:
    grid-row-gap:20px ;
    modifica el espacio entre filas o lineas horizontales 
    grid-column-gap:10px ;
    modifica el espacio entre columnas  o lineas verticales
    */
}
.elemento{
    background-color: orange;
}